[submodule "Modules/juce_organicui"]
	path = Modules/juce_organicui
	url = https://github.com/norbertrostaing/juce_organicui/
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/norbertrostaing/JUCE.git
